
body {
  font-family: 'IM Fell English'
}

body {
  background-color: #7C0A02;"
}

h1 {
  color: white;
  font-size: 1.5em;
  background-color: black;
  line-height: 100px;
  background-size: 90px 40px;
  text-align: center;
}

.click {
  margin-top: 5%;
  text-align: center;
  color: white;
  background-color: black;
  display: inline-block;
  line-height: 50px; font-size: 1.4em
}

.synopsis {
  color:white;
  background-color: black;
  line-height: 50px;
  font-size:1.4em
}


footer {
  color: black;
  background-color: white;
  text-align: center;
  font-size: 1.2em

}

img {
  float: left;
 margin: 10px 10px;
}

p {
  font-size: 1.2em;
  color: black;
}

.zoe {
  color: white;
  display: block;
    margin-top:10%
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 0px;
    text-align: left;


}

audio {
  width:100%
}

.austin {
  color: white;
    display: block;
    margin-top:10%
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 0px;
    text-align: left;
  }



a:link, a:visited {
  background-color: white;
  color: black;
  padding: 20px 30px;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5em;
}

a:hover, a:active {
  background-color: #960018;
