
body {
  font-family: 'IM Fell English'
}

body {
  background-color: #7C0A02;"
}
/*CSS for my font and background colour*/

h1 {
  color: white;
  font-size: 1.5em;
  background-color: black;
  line-height: 100px;
  background-size: 90px 40px;
  text-align: center;
}
/*CSS for my heading that allows me to change the font size, background colour, also allowing me to centre the text etc*/


.click {
  margin-top: 5%;
  text-align: center;
  color: white;
  background-color: black;
  display: inline-block;
  line-height: 50px; font-size: 1.4em
}
/*This CSS is linked to the text on my About page, 'click down below to watch the trailer, if you dare...', allowing me to centre the text and change the font etc.*/

.synopsis {
  color:white;
  background-color: black;
  line-height: 50px;
  font-size:1.4em
}
/*This part is linked to the synopsis on the About page*/


footer {
  color: black;
  background-color: white;
  text-align: center;
  font-size: 1.2em
}
/*This CSS is linked to my footer, allowing me to change the font size, colour etc*/

img {
  float: left;
 margin: 10px 10px;
}
/*This allows me to change the image details, and lets me move the picture around*/

p {
  font-size: 1.2em;
  color: black;
}

.zoe {
  color: white;
  display: block;
    margin-top:10%
    margin: 0px;
    text-align: left;
}
/* This CSS is linked to my cast page, specifically the Zoe Margaret Colletti part of the cast page, allowing me to change the font, colours etc*/

audio {
  width:100%
}
/*This CSS is linked to my audio which allows me to change the size of the audio*/

.austin {
  color: white;
    display: block;
    margin-top:10%
    margin: 0px;
    text-align: left;
  }
/* This CSS is linked to my cast page, specifically the Austin Zajur part of the cast page, allowing me to change the font, colours etc*/


a:link, a:visited {
  background-color: white;
  color: black;
  padding: 20px 30px;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5em;
}
/*This CSS is linked to my menu buttons, allowing me to change the fonts and colours of the text*/

.audiointerviewinfo {
  font-size: 1.4em;
  background-color: black;
  color: white;
  margin-top: 19%
}
/*This CSS is linked to the text on the cast page, "Check out Zoe Colletti's interview down below"*/

.audiointerviewinfo2 {
 font-size: 1.4em;
 background-color: black;
 color: white;
 margin-top: 20%

}
/*This CSS is linked to the text on the cast page, "Check out Austin Zajurs's interview down below"*/

footer {
  margin-top:5%
}
/*CSS to change my footer properties*/

a:hover, a:active {
  background-color: #960018;
/*This CSS is also for my menu buttons, as the viewer who's on desktop hovers over "About" and "Cast" they change to a lighter colour than the background*/
